
<div class="row pl" style="background: url('app/img/top_bar_bg.jpg') no-repeat; background-size: 100% 50px; height:50px;"  >
				
				<table class="table table-borderless" >
				<tr><td  style="width:50px; vertical-align:middle !important; text-align:center;padding-left: 8px !important;">
            <a href="#" toggle-state="offsidebar-open"  no-persist="no-persist">
               <div class="fa fa-navicon" style="color:white;" ng-click="div_show_bg()"></div>
            </a>
        </td><td class="col-sm-8" style="vertical-align:middle !important; text-align:center;">
			<div style="padding-top:-2%; font-size:150%;color:white; text-align:center;">{{app.pageTitle}}</div>
			</td><td class="col-sm-2" style="vertical-align:middle !important;padding-right: 16px !important;  text-align:center;">
                <!--<a href="#" search-open="search-open">
               <em class="icon-magnifier"  style="color:white;"></em>-->
            </a>          
				</td>
			</table>
				
				<!--<table class="table table-borderless" >
				<tr><td class="col-sm-2" style="vertical-align:middle !important; text-align:center;">
            <a href="#" toggle-state="offsidebar-open" no-persist="no-persist">
               <div class="fa fa-navicon" style="color:white;margin-left:20px;"></div>
            </a>
        </td><td class="col-sm-8" style="vertical-align:middle !important; text-align:center;">
			<div style="padding-top:-2%; font-size:150%; color:white; text-align:center;">{{app.pageTitle}}</div>
			</td><td class="col-sm-2" style="vertical-align:middle !important; text-align:left;">
              <a href="#" search-open="search-open">
               <div class="icon-magnifier"  style="margin-right:20px;color:white;"></div>
            </a>
				</td>
			</table>-->
</div>