<div class="row pl" style="background: url('app/img/combine_top_profile_bg.jpg') no-repeat; background-size: 100% 140px; height:140px;"  >
				<table class="table table-borderless" >
				<tr><td class="col-sm-2" style="vertical-align:middle !important; text-align:center;">
            <a href="#" toggle-state="offsidebar-open" ng-click="div_show_bg()" no-persist="no-persist">
               <div class="fa fa-navicon" style="color:white;z-index:20;"></div>
            </a>
        </td><td class="col-sm-8" style="vertical-align:middle !important; text-align:center;">
			<div style="padding-top:-2%; font-size:150%;color:white; text-align:center;">{{app.pageTitle}}</div>
			</td><td class="col-sm-2" style="vertical-align:middle !important;  text-align:center;">
                <!--<a href="#" search-open="search-open">
               <em class="icon-magnifier"  style="color:white;"></em>
            </a>  -->        
				</td>
			</table>
			
			<div class="row" style="position:relative; margin-left:3%;" >
				<div class="col-xs-4  inline" >
					<img class="img-circle thumb100 " src="app/img/user/10.jpg" alt="..." >
				</div>	
				<div class="col-xs-8 inline pt15" style="margin-left:-5px;">
						<div  style="color:#ffffff; font-size:150%;" >{{name}}</div>
						<div   style="margin-top:4px;color:#7ac943; font-size:100%; ">EMPOYEE ID {{empID}}</div>  
				</div>
			</div>
			
</div>