<header ng-include="'app/views/partials/myHeader.html'" class=" mt0 pt0"></header>

<div>
    <div class="row mt mb" style="margin-left:1%; margin-right:1%; ">
        <div class="col-xs-4" style="margin-top:2px;">Group Title*</div>
        <div class="col-xs-8" style="padding-left:0 !important;">
            <input id="name" ng-model="name" class="inline groupNameEdit" style="width:100%;" spellcheck="false">
        </div>
    </div>

    <div class="row mt mb" style="margin-left:1%; margin-right:1%; ">
        <div class="col-xs-4 pull-left" style="margin-top:2px;padding-right:0 !important;">Group Activity*</div>
        <div class="col-xs-8" style="padding-left:0 !important;">
            <select id="activity" name="account" class="form-control" style="border-radius: 0px !important;  border: 1px solid #b8b8b8;font-size: 12px;height: 30px;align-items: center;padding: 5px 16px;">
                <option value="Option 1">Select Activity</option>
                <option value="Option 2">Cricket</option>
                <option value="Option 3">Badminton</option>
                <option value="Option 4">Table Tennis</option>
            </select>
        </div>
    </div>

    <div class="row mt mb" style="margin-left:1%; margin-right:1%;" >
        <div class="col-xs-6" style="width:45% !important; margin-top:2px; padding-right:0 !important;">Add People to Group*</div>
        <div class="col-xs-6" style=" width:55% !important;padding-left:0 !important;">
            <div class="form-group has-feedback">
                <input id="search" type="text" placeholder="Type and hit enter.." style="border-radius: 20px !important; " class="form-control peopleSearch">
                <div search-dismiss="search-dismiss" class="icon-magnifier form-control-feedback" style="top:5px;"></div>
            </div>
        </div>
    </div>
   
	<div class="col-xs-12 pb " style="background-color: #ebebeb;margin-bottom:10px !important; "><!-- select box -->

        <div class="col-xs-4 mb" style="margin-left:0px !important;margin-right:0px !important; ">
			<div style="padding-top: 10px !important;">My Friends</div>
		</div>
		
		 <div class="col-xs-3 mb" style="margin-left:0px !important;margin-right:0px !important; "></div>
		 
		 <div class="col-xs-5 mb" style="float:right !important;padding-right: 0px; !important">
			<div class="col-xs-9 pt">Select All</div>
			<div class="checkbox c-checkbox m0 col-xs-3 pt" style="padding-left: 2px !important;">
                    <label>
                        <input type="checkbox" checked="" value="">
                        <span class="fa fa-check" style="background-color: #eaeaea !important; color:#8C8C8C !important; border: 2px solid #8C8C8C !important;"></span>
                </label></div>
  
        </div>
   
</div>
    <div class="row pt pb ml">
        <div class="col-xs-2">
            <img class="img-circle thumb32" src="app/img/user/03.jpg" alt="..." />
        </div>
        <div class="col-xs-5" style="margin-top:5px;padding-left:0 !important;padding-right:0 !important;">
            Deen Yadav
        </div>
        <div class="col-xs-2" style="padding-left:0 !important;padding-right:0 !important;">
            <img src="app/img/icons/info.png" class="thumb20" style="margin-top:5px;">
        </div>
        <div class="col-xs-3" style="padding-left:0 !important;padding-right:0 !important;">
            <button id="friend1" style="width:60%;" ng-class="{'btn-success':!status1,  'btn-default':status1}" class="btn btn-sm btn-success">
                <i class="fa fa-check"  ng-click="toggle_friend('1')" ng-show="status1"></i>
                <div ng-show="!status1" ng-click="toggle_friend('1')">Add</div>
            </button>
        </div>
    </div>
    <hr class="rmUnderline">
    <div class="row pt pb ml">
        <div class="col-xs-2">
            <img class="img-circle thumb32" src="app/img/user/04.jpg" alt="..." />
        </div>
        <div class="col-xs-5" style="margin-top:5px;padding-left:0 !important;padding-right:0 !important;">
            Ramesh Nenavath
        </div>
        <div class="col-xs-2" style="padding-left:0 !important;padding-right:0 !important;">
            <img src="app/img/icons/info.png" class="thumb20" style="margin-top:5px;">
        </div>
        <div class="col-xs-3" style="padding-left:0 !important;padding-right:0 !important;">
            <button id="friend1" style="width:60%;" ng-class="{'btn-success':!status2,  'btn-default':status2}" class="btn btn-sm btn-success">
                <i class="fa fa-check"  ng-click="toggle_friend('2')" ng-show="status2"></i>
                <div ng-show="!status2" ng-click="toggle_friend('2')">Add</div>
            </button>
        </div>
    </div>
    <hr class="rmUnderline">
    <div class="row pt pb ml">
        <div class="col-xs-2">
            <img class="img-circle thumb32" src="app/img/user/10.jpg" alt="..." />
        </div>
        <div class="col-xs-5" style="margin-top:5px;padding-left:0 !important;padding-right:0 !important;">
            Mayank Senani
        </div>
        <div class="col-xs-2" style="padding-left:0 !important;padding-right:0 !important;">
            <img src="app/img/icons/info.png" class="thumb20" style="margin-top:5px;">
        </div>
        <div class="col-xs-3" style="padding-left:0 !important;padding-right:0 !important;">
            <button id="friend1" style="width:60%;" ng-class="{'btn-success':!status3,  'btn-default':status3}" class="btn btn-sm btn-success">
                <i class="fa fa-check"  ng-click="toggle_friend('3')" ng-show="status3"></i>
                <div ng-show="!status3" ng-click="toggle_friend('3')">Add</div>
            </button>
        </div>
    </div>
	
	<div class="col-xs-12 pb " style="background-color: #ebebeb;margin-bottom:10px !important; "><!-- select box -->

        <div class="col-xs-4 mb" style="margin-left:0px !important;margin-right:0px !important; ">
			<div style="padding-top: 10px !important;">Others</div>
		</div>
		
		 <div class="col-xs-3 mb" style="margin-left:0px !important;margin-right:0px !important; "></div>
		 
		 <div class="col-xs-5 mb" style="float:right !important;padding-right: 0px; !important">
			<div class="col-xs-9 pt">Select All</div>
			<div class="checkbox c-checkbox m0 col-xs-3 pt" style="padding-left: 2px !important;">
                    <label>
                        <input type="checkbox" checked="" value="">
                        <span class="fa fa-check" style="background-color: #eaeaea !important; color:#8C8C8C !important; border: 2px solid #8C8C8C !important;"></span>
                </label></div>
  
        </div>
   
</div>
	
   <!-- <hr class="rmUnderlinebold" style="border-color: #eaeaea !important;" />
    <div class="row" style="position:absolute; margin-top:-30px; margin-left:1%; margin-right:1%;">
        <div class="col-xs-12">
                <div class="checkbox c-checkbox">
                    <label>
                        <input type="checkbox" checked="" value="">
                        <span class="fa fa-check" style="background-color: #eaeaea !important; color:#8C8C8C !important; border: 2px solid #8C8C8C !important;"></span>&nbsp;Others</label>
                </div>
        </div>
    </div>-->
	
	

    <div class="row pt pb ml">
        <div class="col-xs-2">
            <img class="img-circle thumb32" src="app/img/user/03.jpg" alt="..." />
        </div>
        <div class="col-xs-5" style="margin-top:5px;padding-left:0 !important;padding-right:0 !important;">
            Deen Yadav
        </div>
        <div class="col-xs-2" style="padding-left:0 !important;padding-right:0 !important;">
            <img src="app/img/icons/info.png" class="thumb20" style="margin-top:5px;">
        </div>
        <div class="col-xs-3" style="padding-left:0 !important;padding-right:0 !important;">
            <button id="friend1" style=" width:60%;" ng-class="{'btn-success':!status4,  'btn-default':status4}"  class="btn btn-sm btn-success">
             
			 <i class="fa fa-check"  ng-click="toggle_friend('4')" ng-show="status4"></i>
                <div ng-show="!status4" ng-click="toggle_friend('4')">Add</div>
            </button>
        </div>
    </div>
    <hr class="rmUnderline">
    <div class="row pt pb ml">
        <div class="col-xs-2">
            <img class="img-circle thumb32" src="app/img/user/04.jpg" alt="..." />
        </div>
        <div class="col-xs-5" style="margin-top:5px;padding-left:0 !important;padding-right:0 !important;">
            Ramesh Nenavath
        </div>
        <div class="col-xs-2" style="padding-left:0 !important;padding-right:0 !important;">
            <img src="app/img/icons/info.png" class="thumb20" style="margin-top:5px;">
        </div>
        <div class="col-xs-3" style="padding-left:0 !important;padding-right:0 !important;">
            <button id="friend1" style=" width:60%;" ng-class="{'btn-success':!status5,  'btn-default':status5}" class="btn btn-sm btn-success ">
                <i class="fa fa-check"  ng-click="toggle_friend('5')" ng-show="status5"></i>
                <div ng-show="!status5" ng-click="toggle_friend('5')">Add</div>
            </button>
        </div>
    </div>
    <hr class="rmUnderline">
    <div class="row pt pb ml">
        <div class="col-xs-2">
            <img class="img-circle thumb32" src="app/img/user/10.jpg" alt="..." />
        </div>
        <div class="col-xs-5" style="margin-top:5px;padding-left:0 !important;padding-right:0 !important;">
            Mayank Senani
        </div>
        <div class="col-xs-2" style="padding-left:0 !important;padding-right:0 !important;">
            <img src="app/img/icons/info.png" class="thumb20" style="margin-top:5px;">
        </div>
        <div class="col-xs-3" style="padding-left:0 !important;padding-right:0 !important;">
            <button id="friend1" style=" width:60%;" ng-class="{'btn-success':!status6,  'btn-default':status6}" class="btn btn-sm btn-success">
                <i class="fa fa-check"  ng-click="toggle_friend('6')" ng-show="status6"></i>
                <div ng-show="!status6" ng-click="toggle_friend('6')">Add</div>
            </button>
        </div>
    </div>
   
	  <div style="background-color: #eaeaea;" >
	 <div class="row" style="margin-left:1%; margin-right:1%;" >
        <div class="col-xs-6"><center>
            <button type="button" ng-click="back()" class="btn btn-lg ml_next" style="margin-top: 10px;margin-bottom: 10px; padding-top: 5px !important;padding-bottom: 5px!important;font-size: 16px !important;width:100%;background-color:#ffffff;color:#009245;border-color:#009245;">Cancel</button>
		</center></div>
		<div class="col-xs-6"><center>
            <button type="button" ng-click="back()" class="btn btn-lg ml_next" style="color:#ffffff !important;background-color:#009345 !important; margin-top:10px;margin-bottom:10px;padding-top: 5px !important;padding-bottom: 5px!important; font-size: 16px !important;width:100%;background-color:#ffffff;color:#009245;border-color:#009245;">Create Group</button>
		</center></div>	
        </div>
		</div> 
    </div>
<div id="xyz" toggle-state="offsidebar-open" ng-click="div_hide_bg()"></div>