<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<header ng-include="'app/views/partials/myHeader.html'" class=" mt0 pt0"></header>

<div id="gymDetailsController">
<div class="panel-group p0 m0 b0 bg-gray" id="accordion">
  <div class="panel panel-default p0 m0 b0" >
    <div class="panel-heading p0 m0 b0">
      <div class="panel-title p0 m0 b0">
        <div class="accordion-toggle col-xs-12 p0 m0 b0 bg-gray" data-toggle="collapse" data-parent="#accordion" href=".collapseOne" ng-disabled="true">
                      <div style="font-size:1.7rem;padding-top:8px;padding-bottom:30px !important;" class="bg-white pl">
                        <span class="col-xs-4 pl0">Date</span>
                        <span class="col-xs-3 pl0">Time</span>
                        <span class="col-xs-5 pl0">Calories Burnt</span>                       
                     </div>
        </div>
     
      </div>
    </div></div>

  <!-- End Accordion 1 -->
  <div class="panel panel-default p0 m0 b0" ng-repeat="(pIndex, data) in activityDetails | limitTo:4">
    <div class="panel-heading p0 m0 b0">
      <h4 class="panel-title p0 m0 b0">
        <div class="accordion-toggle col-xs-12 p0 m0 b0 bg-gray" data-toggle="collapse" data-parent="#accordion" href=".collapse{{pIndex}}" ng-disabled="true">
                      <div style="font-size:1.6rem;padding-top:8px;padding-bottom:30px !important;" class="bg-white pl changeColor"><!-- change class here -->
                        <span class="col-xs-4 pl0">{{data.date | date:'dd-MM-yyyy'}}</span>
                        <span class="col-xs-3 pl0">{{data.time}} min</span>
                        <span class="col-xs-3 pl0">{{data.caloriesBurnt==0?100:data.caloriesBurnt}} lbs</span>   
                        <i class="indicator glyphicon glyphicon-chevron-down  col-xs-2 "></i>                    
                     </div>
        </div>         
      </h4>
    </div>

   <div id="collapse{{pIndex}}" class="panel-collapse collapse collapse{{pIndex}} col-xs-12 p0 m0 b0">
      <div class="panel-body pl0 pr0 pt0 m0 b0" >
         <!-- start repeat here -->
                      <div style="font-size:1.6rem;padding-top:8px;padding-bottom:30px !important;" class="bg-gray pl" ng-repeat="(cIndex, innerData) in data.subActivities track by cIndex">
                        <span class="col-xs-4 pl0">{{innerData.subActivityName}}</span>
                        <span class="col-xs-3 pl0">{{innerData.time}} min</span>
                        <span class="col-xs-5 pl0">{{innerData.caloriesBurnt}}</span>                       
                     </div>         
                     
                     <div style="font-size:1.2rem;padding-top:8px;padding-bottom:30px !important;background-color:#b8b8b8;" class=" pl col-xs-12" >
                        <span class="col-xs-5 pl0"><span class="p0 col-xs-12" style="color:#dde6e9;">Weight Loss</span><span style="font-weight: bold;" class="col-xs-12 p0">0.1 Kg</span></span>
                        <span class="col-xs-3 pl0"><span class="p0 col-xs-12">Total</span><span style="font-weight: bold;" class="col-xs-12 pl0">54.9 Kg</span></span>
                        <span class="col-xs-4 pl0"><span class="p0 col-xs-12">Calories Burnt</span><span  style="font-weight: bold;" class="col-xs-12 p0">{{data.caloriesBurnt==0?100:data.caloriesBurnt}} lbs</span></span>                       
                     </div>    
      </div>
    </div>  
  </div>
  <!-- End Accordion 2  -->

</div>

<center>
<div class="bg-gray col-xs-12 " style="height:100px;width:100%;">
<button type="button" ng-click="activities()" class="btn btn-success btn-lg ml_next" style="margin-bottom: 0%;margin-bottom:0%; margin-top: 25px; width: 80%;  border-color: #009245;font-size:2rem;">View More</button>
</div>

<img src="app/img/icons/graph.png" height="420" width="100%"/></center>
</div>
<div id="xyz" toggle-state="offsidebar-open" ng-click="div_hide_bg()"></div> 