<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<header ng-include="'app/views/partials/myHeader.html'" class=" mt0 pt0"></header>

<div class="panel bg-gray mb0" >

    
   <div class="panel-body pl0 pr0 ml0 mr0 pt0 pb0" id="gymDetailsAccordion" >
      <!-- start table -->
      <div class="col-xs-12 pl0 pr0 ml0 mr0">
         <!-- START panel-->
         <div class="panel panel-default b0 mb0">
            <!--   <div class="panel-heading">Basic Table</div>-->
            <div class="panel-body pl0 pr0 ml0 mr0 pt0 pb0">
               <!-- START table-responsive-->
               <div class="table-responsive pl0 pr0 ml0 mr0 mb0">
                  <table class="table b0 pl0 pr0 ml0 mr0" style="border-collapse: seperate;">
                  <thead>
                     <tr style="font-size:2rem;">
                        <th>Date</th>
                        <th>Time</th>
                        <th colspan="2">Calories Burnt</th>
                        
                     </tr>
                  </thead>
                     <tbody>
                        <tr class="bg-white" id="gymDetailsHeader{{pIndex}}" ng-click="toggleColor(pIndex)" style="pading-top:40px;margin-top:40px;font-size:2rem;border-bottom: 2px solid black;" data-parent="#gymDetailsAccordion" data-toggle="collapse" href=".gymDetailsAccordion{{pIndex}}"  ng-repeat-start="(pIndex, data) in activityDetails | limitTo:4">
                           <td  class="col-xs-5 b0">{{data.date | date:'dd-MM-yyyy'}}</td>
                           <td  class="col-xs-2 pt b0">{{data.time}} min</td>
                           <td  class="col-xs-2 pt b0">{{data.caloriesBurnt==0?100:data.caloriesBurnt}} lbs</td>
                           <td  class="col-xs-3 pt b0" ><i id="toggleIcon{{pIndex}}" class="indicator glyphicon glyphicon-chevron-down pull-right pr mr"></i></td>
                        </tr>
                        <tr class="gymDetailsAccordion{{pIndex}} panel-collapse collapse bg-gray " ng-repeat="(cIndex, innerData) in data.subActivities track by cIndex"  style="border-bottom: 2px solid black;">                        
                           <td  class="col-xs-5  b0">{{innerData.subActivityName}}</td>
                           <td  class="col-xs-2 pt b0">{{innerData.time}} min</td>
                           <td colspan="2" class="col-xs-5 pt b0">{{innerData.caloriesBurnt}} lbs</td>                                
                        </tr>
                        <tr ng-repeat-end="" class="gymDetailsAccordion{{pIndex}} panel-collapse collapse bg-gray " style="pading-top:40px;margin-top:40px;font-size:1.5rem;border-bottom: 2px solid black;">
                         <td class="col-xs-4">Weight Loss<div class="col-xs-12 p0 text-bold mt6 b0">0.1Kg</div></td>
                         <td class="col-xs-4">Total<div class="col-xs-12 p0 text-bold mt6 b0">54.9 kg</div></td>
                         <td class="col-xs-4" colspan="2">Calories Burnt<div class="col-xs-12 p0 text-bold mt6 b0">{{data.caloriesBurnt==0?100:data.caloriesBurnt}} lbs</div></td>
                       </tr>
                     
                     </tbody>
                  </table>
               </div>
               <!-- END table-responsive-->
            </div>
         </div>
         <!-- END panel-->
      </div>
      <!-- end table -->
   </div>
</div>
<center>
<div class="bg-gray col-xs-12 " style="height:100px;width:100%;">
<button type="button" ng-click="activities()" class="btn btn-success btn-lg ml_next" style="margin-bottom: 0%;margin-bottom:0%; margin-top: 25px; width: 80%;  border-color: #009245;font-size:2rem;">View More</button>
</div>

<img src="app/img/icons/graph.png" height="420" width="100%"></center>