<header ng-include="'app/views/partials/myHeader.html'" class=" mt0 pt0"></header>
<!-- <div class="col-lg-12" style="padding-left:6%;padding-right:6%;padding-top:2%;"> -->
<div ng-controller="healthrecordController" class="bg-gray">
	<!-- START List group-->
	<div class="list-group pt"
		style="padding-left: 4%; padding-right: 4%; padding-top: 5%; margin-bottom: 10px;">
		<li class="list-group-item"
			style="min-height: 150px; max-height: 150px;">
			<div class="row row-table pt-lg">
				<div class="col-xs-8" style="margin-top: 7%">
					<p class="m2 text-update-weight">Last Captured Weight</p>
					<p class="m2 lead_update_weight">6:00 PM | Date: 05/08/2015</p>
				</div>
				<div class="col-xs-4 " align="center" style="margin-top: 5%">
					<p class="minus20 text-xlg ">67</p>
					<p class="m_kg lead_kg">Kg</p>
				</div>
			</div>
		</li>
	</div>

	<div class="list-group"
		style="padding-left: 4%; padding-right: 4%; margin-bottom: 10px;">
		<li class="list-group-item"
			style="min-height: 150px; max-height: 150px;">
			<div class="row row-table ">
				<div class="col-xs-12">
					<p style="margin: 0 0 5.5px !important;" class="mb-sm text-md ol"
						align="center">My Schedule
					<hr class="rmUnderline">
					</p>
				</div>
				<div class="col-xs-4">
					<p class="m2 text-update-weight">GYM</p>
					<p class="m2 text-update-weight">Walking</p>
					<p class="m2 text-update-weight">Running</p>
				</div>
				<div class="col-xs-8" align="right">
					<p class="m2 lead_update_weight">6:00 AM | Date: 05/08/2015</p>
					<p class="m2 lead_update_weight">7:00 AM | Date: 05/08/2015</p>
					<p class="m2 lead_update_weight">8:00 PM | Date: 05/08/2015</p>
				</div>
			</div>
		</li>
	</div>

	<div class="list-group pb mb0"
		style="padding-left: 4%; padding-right: 4%; margin-bottom: 10px;">
		<li class="list-group-item"
			style="min-height: 150px; max-height: 150px;&gt;
            &lt;div class="
			rowrow-table ">
			<div class="col-xs-12 mb-sm">
				<p class="text-md ol" style="margin: 0 0 5.5px !important;"
					align="center">Upcoming Activities
				<hr class="rmUnderline">
				</p>
			</div>
			<div class="col-xs-4">
				<p class="m2 text-update-weight">Trekking</p>
				<p class="m2 text-update-weight">Boating</p>
			</div>
			<div class="col-xs-8" align="right">
				<p class="m2 lead_update_weight">7:00 AM | Date: 05/08/2015</p>
				<p class="m2 lead_update_weight">6:00 PM | Date: 05/08/2015</p>
			</div>
	</div>
	</li>
</div>

<div class="list-group bg-gray pb"
	style="padding-left: 4%; padding-right: 4%; margin-bottom: 10px;">
	<li class="list-group-item"
		style="min-height: 150px; max-height: 150px;&gt;
            &lt;div class="
		rowrow-table" >
		<div class="col-xs-12 mb-sm">
			<p class="text-md ol" align="center"
				style="margin: 0 0 5.5px !important;">B.M.I. Scale
			<hr class="rmUnderline" style="margin-bottom: 40px;" />
			</p>
		</div>
		<br/><br/><br/><br/><br/>
		
		<div class="row row-table " style="padding-top: 20px !important;">
	<div class="col-xs-12 mb-sm">
		<div
			style="margin-left: -40px; position: absolute; margin-top: -55px; padding-left: 65%;">
			<div class="label"
				style="font-size: 100%; color: #27c24c; font-weight: bold; margin-left: -15px; position: absolute; margin-top: 12px; padding-left: 50%;">
				19.5</div>
			<i class="fa icon-drop fa-rotate-180"
				style="color: #b8b8b8; font-size: 400%"></i>
		</div>
		<div class="progress">
			<!--   <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="20"
			  aria-valuemin="0" aria-valuemax="30" style="width:50%"> </div> -->
			<div class="progress-bar progress-bar-danger" role="progressbar"
				style="width: 55%">Under Weight</div>
			<div class="progress-bar progress-bar-success" role="progressbar"
				style="width: 25%">Normal</div>
			<div class="progress-bar progress-bar-danger" role="progressbar"
				style="width: 20%">Over</div>
		</div>
	</div>
</div>
		
		
</div>


</li>
</div>
</div>
<div id="xyz" toggle-state="offsidebar-open" ng-click="div_hide_bg()"></div>
<!-- END List group-->

<!-- <button type="button" ng-click="health()" class="btn btn-primary btn-lg ml_next" style="margin-bottom:4%;margin-top:2%;margin-left:14px;margin-right:5%;width:92%;background-color:#ffffff;color:#009245;border-color:#009245;">Next</button> -->






