<header ng-include="'app/views/partials/profileHeader.html'" class=" mt0 pt0"></header>
<div id="ProfileController"  style="margin-top:3%;margin-left:5%;margin-right:5%;position:relative; background-color:#ffffff">
			
			<div id="EditPen" class="row pl" style="font-size:170%; color:#ffffff; margin-right:0px;margin-top:6%;" >
			<span id="EditIcon" class="todo-edit fa fa-pencil pull-right " style="position:absolute; margin-left:95%; color:#b8b8b8;" ng-click="editorEnabled=!editorEnabled"></span>
			</div>
			
<div id="ProfileDiv" ng-app style="margin-top:-2%;">
    <div id="ProfileEditDiv" ng-hide="editorEnabled">
	<div id="ProfileFixDiv" class="form-horizontal">
			<table class="table table-borderless" style="padding:20%;">
                   <tbody>
                     <tr >
                        <td colspan="4"><p1 id="tname" class="inline subTitle ">Name:</p1><br/>
						<p1 id="name" class="form-control-static inline data " style="padding-top: 0px !important;" spellcheck="false">{{name}}</p1>
						<hr class="rmUnderline" >
						</td>
                     </tr>
                     <tr style="padding:0%">
                        <td ><p1 id="tage" class="inline subTitle " >Age</p1><br/>
						<p1 id="age" class="form-control-static inline  data" style="padding-top: 0px !important;" spellcheck="false">{{age}} yrs</p1>
						<hr class="rmUnderline" >
						</td>
						<td><p1 id="tsex" class="inline subTitle ">Gender</p1><br/>
						<p1 id="sex" class="form-control-static inline data" style="padding-top: 0px !important;" spellcheck="false">{{gender}}</p1>
						<hr class="rmUnderline" >
						</td>
						<td><p1 id="theight" class="inline subTitle">Height</p1><br/>
						<p1 id="height" class="form-control-static inline data" style="padding-top: 0px !important;" spellcheck="false">{{height}}'</p1>
						<hr class="rmUnderline" >
						</td>
						<td ><p1 id="tweight" class="inline subTitle">Weight</p1><br/>
						<p1 id="weight" class="form-control-static inline data" style="padding-top: 0px !important;" spellcheck="false">{{weight}} kgs</p1>
						<hr class="rmUnderline" >
						</td>
                     </tr>
					  <tr >
                        <td colspan="4"><p1 id="tdesignation" class="inline subTitle ">Designation:</p1><br/>
						<p1 id="designation" class="form-control-static inline data" style="padding-top: 0px !important;" spellcheck="false">{{designation}}</p1>
						<hr class="rmUnderline" >
						</td>
                     </tr>
					 <tr>
                        <td colspan="4"><p1 id="taddress" class="inline subTitle ">Official Address:</p1><br/>
						<p1 id="address" class="form-control-static inline data " style="padding-top: 0px !important;" spellcheck="false">{{address}}</p1>
						<hr class="rmUnderline" >
						</td>
                     </tr>
					 <tr>
                        <td colspan="4"><p1 id="taddress" class="inline subTitle ">Official Tel. No:</p1><br/>
						<p1 id="address" class="form-control-static inline data " style="padding-top: 0px !important;" spellcheck="false">{{office_no}}</p1>
						<hr class="rmUnderline" >
						</td>
                     </tr>
					 <tr>
                        <td colspan="4"><p1 id="taddress" class="inline subTitle ">Mobile No:</p1><br/>
						<p1 id="address" class="form-control-static inline data " style="padding-top: 0px !important;" spellcheck="false">{{mobile_no}}</p1>
						<hr class="rmUnderline" >
						</td>
                     </tr>
					 <tr>
                        <td colspan="4"><p1 id="taddress" class="inline subTitle ">Email ID:</p1><br/>
						<p1 id="address" class="form-control-static inline data "  style="padding-top: 0px !important;" spellcheck="false">{{email}}</p1>
						<hr class="rmUnderline" >
						</td>
                     </tr>
                  </tbody>
               </table>

		</div>
	</div>
	<div ng-show="editorEnabled">	
	 <div class="table-responsive table-bordered" style="margin-top:10%;">
               <table class="table" >
                 <tbody>
                     <tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Name:</p1></td>
                        <td><input id="name" ng-model="name" class="form-control-static inline editData" spellcheck="false"></td>
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Age:</p1></td>
                        <td><input id="age" ng-model="age" class="form-control-static inline editData" spellcheck="false" >
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Gender:</p1></td>
                        <td><input id="gender" ng-model="gender" class="form-control-static inline editData" spellcheck="false" >
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Designation:</p1></td>
                        <td><input id="designation" ng-model="designation" class="form-control-static inline editData" spellcheck="false" >
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Office_no:</p1></td>
                        <td><input id="office_no" ng-model="office_no" class="form-control-static inline editData" spellcheck="false" >
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Mobile_no:</p1></td>
                        <td><input id="mobile_no" ng-model="mobile_no" class="form-control-static inline editData"  spellcheck="false" >
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Home_no:</p1></td>
                        <td><input id="home_no" ng-model="home_no" class="form-control-static inline editData"  spellcheck="false" >
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Location:</p1></td>
                        <td><input id="location" ng-model="location" class="form-control-static inline editData"  spellcheck="false" >
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Address:</p1></td>
                        <td><input  id="address" ng-model="address" class="form-control-static inline editData"  spellcheck="false" >
                     </tr><tr>
                        <td><p1 class="inline" style="color:#b8b8b8;font-family: Arial, Times, serif;font-size:120%;padding-left:15%;">Email ID:</p1></td>
                        <td><input  id="email" ng-model="email" class="form-control-static inline editData" spellcheck="false">
                     </tr>
				</tbody>
               </table>
            </div>
     <!--  <a href="#" ng-click="editorEnabled=!editorEnabled">Done editing?</a> -->
    </div>
	
</div>
	<button type="button" ng-click="health()" class="btn btn-lg ml_next" style="margin-bottom:6% !important;margin-top:5%  !important;width:95.5%;background-color:#ffffff;color:#009245;border-color:#009245;padding-top: 5px;padding-bottom: 5px;font-size: large  !important;font-weight: bold  !important;">Next</button>
	</div>	